.popUp-wrapper {
  position: absolute;
  min-width: 300px;
  padding: 20px;
  right: 20px;
  top: 20px;

  text-align: center;

  &.success {
    background-color: green;
  }
  &.warning {
    background-color: orange;
  }
  &.error {
    background-color: red;
  }
  p {
    margin: 0;
  }
}
